/protected/runtime
/public_html/assets
/public_html/data
/public_html/log
/protected/config/main.php
/protected/config/console.php
/.buildpath
/.project
/.settings
/.metadata
/backup_git
/.bash_logout
/.bash_profile
/.bashrc
/cache
/.contactemail
/.cpanel
/.cphorde
/etc
/.htpasswds
/.lastlogin
/logs
/mail
/.php
/public_ftp
/.razor
/.spamassassin
/.spamassassinenable
/.sqmailattach
/.sqmaildata
/ssl
/.subaccounts
/tmp
/.trash
/.git.back
/access-logs
/www
/docs
